<form action="/articles/<%= @coupon.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="Coupon[title]" value="<%= @coupon.type %>" />
    </li>
    <li>
      <label for="content">Content</label>
      <textarea id="content" type="text" name="article[content]"  value="<%= @coupon.message_desc %>">
      </textarea>
    </li>
  </ul>
  <input type="submit" />
</form>