
<head>
<style>
{ font-family: Verdana, Geneva, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Verdana, Geneva, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
h1 {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

  <head>
    <h1><b>Coupon Locker</b></h1>
  </head>
  <body>
<p><i>Find and save the hottest coupon codes.</i></p>
  </body>



<body>
<img src="https://cdlnws.a.ssl.fastly.net/image/upload/f_auto,q_auto/v1533236344/blog/Smartphone_Coupon_Code.jpg" alt="cldnws.a.ssl.faslty.net" swidth="500" height="600">
</body>
</html>



<h2>Login</h2>
<form>
  <input type="email">
  <input type="password">
  <input type="submit">
</form>


<head>
<style>
body {
  background-image: url('https://mcdn.wallpapersafari.com/medium/53/63/SDBJM5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>