<h2>Add your coupon finds.</h2>
<form action="/coupons/new" method="POST">
  <p>Store Name: <input type="text" name="store_name"></p>
  <p>Coupon Code: <input type="text" name="code"></p>
  <p>Description: <input type="text" name="description"></p>
  <input class="btn btn-primary" type="submit" value="submit">
</form>